td {

text-align: center;

}



.contenedor {


text-align: center;

}

.grilla {

display: grid;

grid-template-columns: 1fr 1fr;
gap: 25px;



}

.cantidad, .precios {

border-width: 2px;
border-style: solid;
border-color:black;
border-radius: 16px;
margin-left: 40px;

}


.precios {


margin-right: 40px;

}